---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: vspherevms.vmoperator.vmware.com
spec:
  group: vmoperator.vmware.com
  names:
    kind: VsphereVM
    listKind: VsphereVMList
    plural: vspherevms
    singular: vspherevm
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VsphereVM is the Schema for the VsphereVMs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VsphereVMSpec defines the desired state of VsphereVM
            properties:
              moid:
                description: MoID of the vSphere VM
                type: string
              name:
                description: Name of the vSphere VM
                type: string
            type: object
          status:
            description: SupervisorLocationStatus defines the observed state of SupervisorLocation
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
